
$black: #0B0C0C;
$white: #f8f8f8;
$grey: #454A4C;
$lightgrey: #dfe0db;
$red: #F15C4E;
$pink: #FF3750;
$yellow: #F7F960;
$green: #00A583;
$turquoise: #3acdb2;
$blue: #009bdb;
$purple: #43047c;

$button-colour: lighten($black, 30%);
