
.home {
  .wrapper {
    max-width: 960px;
  }

  // Giant text
  #splash {
    @include font(50px, 55px, 90px, 100px, 130px, 145px);
    color: $turquoise;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;

    @include media(tablet) {
      padding: 30px 0;
    }
    @include media(desktop) {
      padding: 60px 0 50px;
    }
  }

  #about {
    background-color: $white;
    padding: 15px 0;
    .intro a {
      @extend .stealth-link;
    }
    #contact {
      padding: 0 0 25px 0;
    }
  }

  .project {
  	padding: 15px 0;
    background-color: $white;

  	h1 {
  		padding: 5px 0;

  		.date {
        @include font(20px);
  		}
  		a {
  			@extend .no-link;
  		}
  	}
  }

  // Navigation

  #primary-nav {
    position: relative;
    z-index: 5;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
        position: relative;

        a {
          display: block;
          background: $purple;
          color: $white;
          text-align: center;
          text-decoration: none;
          padding: 15px;
          line-height: 0.875;
          letter-spacing: 1px;
        }
        a:hover, a:active {
          background-color: $blue;
        }
      }
    }
  }

  @include media(desktop) {
    #primary-nav {
      z-index: auto;

      ul {

        li {
          margin: 0;
          position: absolute;
          z-index: 10;
          display: inline-block;
          text-align: left;

          a {
            background: transparent;
            color: $purple;
            padding: 0;
            font-size: 40px;
            line-height: 1.25;
            border-bottom: 7px solid;
            line-height: normal;
          }
          a:hover, a:active {
            background-color: transparent;
          }
        }
        li:hover > a {
          color: $blue;
        }
      }
    }
    #nav-work {
      top: 18.5rem;
      right: 35%;
    }
    #nav-about {
      top: 29.5rem;
      left: 30%;
    }
    #nav-contact {
      top: 43rem;
      right: 30%;
    }
  }
}
