// Navigation

#primary-nav {
  position: relative;
  z-index: 5;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
      position: relative;

      a {
        display: block;
        background: $purple;
        color: $white;
        text-align: center;
        text-decoration: none;
        padding: 15px; padding: 1.5rem;
        line-height: 0.9;
        letter-spacing: 1px;
        @include transition(background-color 0.1s);
      }
      a:hover, a:active {
        background-color: $blue;
      }
    }
  }
}

@include media(desktop) {
  #primary-nav {
    z-index: auto;

    ul {

      li {
        margin: 0;
        position: absolute;
        z-index: 10;
        display: inline-block;
        text-align: left;

        a {
          background: transparent;
          color: $purple;
          padding: 0;
          font-size: 40px; font-size: 4rem;
          border-bottom: 7px solid; border-bottom: 0.7rem solid;
          font-weight: 600;
          line-height: normal;
          -moz-transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
          -ms-transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
          -webkit-transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
        }
        a:hover, a:active {
          background-color: transparent;
        }
      }
      li:hover > a {
        color: $blue;
      }
    }
  }
  #nav-work {
    top: 18.5rem;
    right: 35%;
  }
  #nav-about {
    top: 29.5rem;
    left: 30%;
  }
  #nav-contact {
    top: 43rem;
    right: 30%;
  }
}

// Giant text

#splash {
  @include font(50px, 55px, 90px, 100px, 130px, 145px);
  color: $turquoise;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;

  @include media(tablet) {
    padding: 30px 0;
  }
  @include media(desktop) {
    padding: 60px 0 50px;
  }
}

#about {
  background-color: $white;
}
#intro {
  @include font(20px, 30px, 24px, 35px, 30px, 45px);
  a {
    @extend .stealth-link;
  }
}
#contact {
  padding: 0 0 40px 0;
}

.project {
	padding: 10px 0;

	h2 {
		margin: 10px 0;

		.date {
			font-size: 25px; font-size: 2.5rem;
		}

		a {
			border-bottom: 0;
		}
	}

	.reversed {
		color: white;
		letter-spacing: 1px;
	}
}
