
/* --- Link styles --- */

a {
  color: inherit;
  border-bottom: 2px solid;
  display: inline;
  text-decoration: none;
  @include transition( (color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out) );
  @include media(tablet) {
    border-bottom: 4px solid;
  }
}
a:hover {
  color: $blue;
}
a:active {
  color: $purple;
}

.stealth-link {
  border-bottom: dotted;
}
.no-link {
  border-bottom: 0;
  &:hover {
    border-bottom: 4px solid;
    color: inherit;
  }
}

a.video, a.video img {
  @extend .no-link;
  :hover {
    @extend .no-link:hover;
  }
}

.video-play-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  opacity: 0.5;
}
