/* --- Link styles --- */

a {
  color: inherit;
  border-bottom: 2px solid;
  display: inline;
  text-decoration: none;
  @include transition((color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out));
  @include media(tablet) {
    border-bottom: 4px solid;
  }
}
a:hover {
  color: $blue;
}
a:active {
  color: $purple;
}

.stealth-link {
  border-bottom: dotted;
}
.no-link {
  border-bottom: 0;
  &:hover {
    border-bottom: 4px solid;
    color: inherit;
  }
}

a.video, a.video img {
  @extend .no-link;
  :hover {
    @extend .no-link:hover;
  }
}

.video-play-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  opacity: 0.5;
}

/* --- Button styles --- */

a.button {
  border: 0;
  margin: 10px 0;
  padding: 5px 8px;
  display: block;
  background-color: $black;
  color: $white;
  // @include border-radius(3px);
  // @include box-shadow(0 3px 0 lighten($black, 15%));
  // @include transition(background-color 0.1s ease-in-out);
}
.button:active {
  top: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.right {
  float: right;
}
@media (max-width: 768px) {
  .button.right {
    clear: left;
    float: left;
    margin: 0 0 15px 0; margin: 0 0 1.5rem 0;
  }
}

.button.UC {
  font-size: 18px; font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button.light {
  background-color: darken($white, 10%);
  color: lighten($black, 10%);
}
.button.light:hover {
  background-color: #FFF;
  color: darken($grey, 10%)
}
.button.bright {
  background-color: darken($white, 5%);
  color: $grey;
}
.button.bright:hover {
  background-color: #FFF;
  color: darken($grey, 10%)
}

.button.dark {
  background-color: lighten($black, 30%);
  color: $white;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 3px 0 $black;
  -moz-box-shadow: 0 3px 0 $black;
  box-shadow: 0 3px 0 $black;
}
.button.dark:hover {
  background-color: $black;
}
.button.dark:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
