@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
      -ms-box-shadow: $box-shadow;
       -o-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
  -webkit-border-radius: $transition;
     -moz-border-radius: $transition;
      -ms-border-radius: $transition;
       -o-border-radius: $transition;
          border-radius: $transition;
}

@mixin inline-block($min-height: "") {
  display: -moz-inline-stack;
  display: inline-block;

  @if $min-height != "" {
    min-height: $min-height;
  }

  @include ie-lte(7) {
    zoom: 1;
    display: inline;
  }

  @include ie(6) {
    @if $min-height != "" {
      height: $min-height;
    }
  }
}

// Contain floats usage:
//
// .this-has-floated-children {
//  @extend %contain-floats;
// }


%contain-floats {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  @include ie-lte(7) {
    zoom: 1;
  }
}
