
@font-face {
    font-family: 'edmondsansmedium';
    src: url('fonts/edmondsans-medium-webfont.eot');
    src: url('fonts/edmondsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/edmondsans-medium-webfont.woff') format('woff'),
         url('fonts/edmondsans-medium-webfont.ttf') format('truetype'),
         url('fonts/edmondsans-medium-webfont.svg#edmondsansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin font($font-size: 16px,
            $line-height: floor($font-size/3)*5,
            $font-size-tablet: round($font-size*1.125),
            $line-height-tablet: floor($font-size-tablet/3)*5,
            $font-size-desktop: round($font-size*1.25),
            $line-height-desktop: floor($font-size-desktop/3)*5) {

  font-family: edmondsansmedium, "Helvetica Neue", Helvetica, sans-serif;
  font-size: $font-size;
  line-height: $line-height/$font-size;

  @include media(tablet) {
    font-size: $font-size-tablet;
    line-height: $line-height-tablet/$font-size-tablet;
    letter-spacing: 1px;
  }
  @include media(desktop) {
    font-size: $font-size-desktop;
    line-height: $line-height-desktop/$font-size-desktop;
    letter-spacing: 1px
  }
}

body {
  @include font;
}

p, ul, ol, h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

p, ul, ol {
  padding-top: 5px;
  padding-bottom: 20px;
  letter-spacing: 0;
}

.intro {
  @include font(20px, 30px, 24px, 35px, 30px, 45px);
  font-weight: bold;
}

h1 {
  @include font(24px, 35px, 27px, 40px, 30px, 45px);
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
}

h2 {
  @include font;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 5px;
}

h3, h4, h5, h6 {
  @include font;
  font-weight: bold;
  letter-spacing: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}
