
@import "normalise";
@import "media-query-helpers";
@import "shims";
@import "css3";
@import "colours";
@import "typography";
@import "links";
@import "buttons";
@import "homepage";
@import "default";
// @import "print";

// Generic styles

html {
  font-size: 62.5%;
}

body {
  background: $lightgrey;
}

header {
  background: $white;
  color: $purple;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  a { border-bottom: 0; }
}

footer p {
  margin-top: 10px;
  padding: 15px 0;
  @include font(13px);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $grey;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1160px;
  @include media(tablet) {
    padding: 0 30px;
  }
}

img {
  max-width: 100%;
  height: auto;
}
