
$black: #0B0C0C;
$white: #f8f8f8;
$grey: #454A4C;
$lightgrey: #dfe0db;
$red: #F15C4E;
$pink: #FF3750;
$yellow: #F7F960;
$green: #00A583;
$turquoise: #3acdb2;
$blue: #009bdb;
$purple: #43047c;

@import "normalize";
@import "print";

@font-face {
    font-family: 'edmondsansmedium';
    src: url('../fonts/edmondsans-medium-webfont.eot');
    src: url('../fonts/edmondsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-medium-webfont.woff') format('woff'),
         url('../fonts/edmondsans-medium-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-medium-webfont.svg#edmondsansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  background: $lightgrey;
  overflow-x: hidden;
  max-width: 100%;
}
