
@import "bootstrap/normalize";
@import "mixins";
@import "homepage";
@import "links+buttons";
@import "colours";
//@import "print";

@font-face {
    font-family: 'edmondsansmedium';
    src: url('fonts/edmondsans-medium-webfont.eot');
    src: url('fonts/edmondsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/edmondsans-medium-webfont.woff') format('woff'),
         url('fonts/edmondsans-medium-webfont.ttf') format('truetype'),
         url('fonts/edmondsans-medium-webfont.svg#edmondsansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* --- Generic styles --- */

html {
  font-size: 62.5%;
  body {
    background: $lightgrey;
    // overflow-x: hidden;
    // max-width: 100%;
  }
}

body {
  font-family: edmondsansmedium, "Helvetica Neue", Helvetica, sans-serif;
  // margin: 0;
  // padding: 0;
  font-size: 200%;
  line-height: 1.5;

  header {
    background: $white;
    color: $purple;
    text-transform: uppercase;
    text-align: center;
    padding: 20px; padding: 2rem;
  }
}

.contained {
  padding-left: 15px; padding-left: 1.5rem;
  padding-right: 15px; padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .contained {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contained {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .contained {
    width: 1170px;
  }
}
// img.contained {
//   padding-left: 0;
//   padding-right: 0;
// }
